body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #FFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.boss-title {
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
    color: #FFF;
}

.title-section { 
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}
 
.bttn {
    background-color: #4D5AE5;
    color: #FFF;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

.bttn:hover {
    color:#FFF;
    background-color: #404bbf;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    color: #2E2F42;
}

.nav_link {
    color: #2E2F42;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover {
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.hero-image {
    background-color: #2E2F42;
}

.our-strengths {
    background-color: #FFF;
}

.our-team {
    background-color: #F4F4FD;
}

.our-portfolio {
    background-color: #FFF;
}

footer {
    background-color: #2E2F42;
}

.text-foot {
    color:#F4F4FD;
}

.studio-footer {
    color: #F4F4FD;
}